<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mon Chat à moi</title>
    </head>
 
    <body>
        <h1>Le super Chat en temps réel !</h1>

        <form>
            <p>
                <input type="text" name="message" id="messageNew" placeholder="Votre message" autofocus />
                <input type="submit" value="Envoyer" id="messageValid"/>
            </p>
        </form>

        <div class="chat">
            
        </div>
    
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script><!-- pour que le client recupere socket io -->
        <script>
            var socket = io.connect('http://localhost:8080'); /*connection au serveur*/
            
            /*lecture des cookies*/
            var allcookies = document.cookie;
       
            // met tout les cookies dans un tableau
            cookiearray = allcookies.split(';');
       
            // verifie chaque cookie
            for(var i=0; i<cookiearray.length; i++) {
                name = cookiearray[i].split('=')[0];
                if(name === "pseudo"){
                  pseudo = cookiearray[i].split('=')[1];
                }/*fin de if name*/
            }/*fin de for*/

            /*envoie du cookie pseudo au server*/
            var test = 0;/*pour envoyer une seule fois au server*/
            if(pseudo != '' && test == 0){
                // Et on l'envoie avec le signal "nouveau_client" 
                socket.emit('nouveau_client', pseudo);
                test++;
            }           

            /*envoie un message au server par clic du bouton*/
            $('#messageValid').click(function () {console.log('envoie');
                socket.emit('message', messageNew.value);
                $('#messageNew').val(' ').focus();/*vide le champ + focus*/
                return false;/*pour bloquer l'envoie du formulaire */
            })

            /*on ecoute les messages de type message*/
            socket.on('message', function(message) {console.log('test');
                $('.chat').prepend('<p>'+ message + '</p>');              
            })
        </script>
    </body>
</html>