<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mon Chat à moi</title>
    </head>
 
    <body>
        <h1>Le super Chat en temps réel !</h1>

        <form method="post">
            <p>
                <input type="text" name="mail" id="mail" placeholder="Votre mail" autofocus />
                <input type="password" name="password" id="password" placeholder="Votre mot de passe" autofocus />
                <input type="submit" value="Connexion" id="connexionValid"/>
            </p>
        </form>

        <p>
            Vous inscrire!
            <input type="submit" value="vous inscrire" id="inscription"/>
        </p>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script><!-- pour que le client recupere socket io -->

        <script>
            var socket = io.connect('http://localhost:8080'); /*connection au serveur*/

            /*redirige vers formulaires inscriptions*/
            $('#inscription').click(function () {
                document.location="http://localhost:8080/inscr";          
            })/*fin de clic inscription*/

            /*gestion de la connexion*/
            $('#connexionValid').click(function () {
                $.post('/login', { email: $('#mail').val(), password: $('#password').val()}, function(data) {
                    if(data.message === 'Utilisateur connecté !'){/*si utilisateur autorisé à se connecter renvoie à la page de chat et crée un cookie pseudo*/
                        document.cookie = "pseudo=" + data.pseudo;
                        document.location="http://localhost:8080/chat";
                    }
                }, 'json');/*fin de post*/
                return false; /*pour bloquer le formulaire*/               
            })/*fin de clic connexion*/

        </script>
    </body>
</html>