<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mon Chat à moi</title>
    </head>
 
    <body>
        <h1>Le super Chat en temps réel !</h1>

        <form method="post">
            <p>
                <input type="text" name="pseudoInscription" id="pseudoInscription" placeholder="Votre pseudo" />
                <input type="text" name="mailInscription" id="mailInscription" placeholder="Votre mail"  />
                <input type="password" name="passwordInscription" id="passwordInscription" placeholder="Votre mot de passe" />
                <input type="password" name="confirmPasswordInscription" id="confirmPasswordInscription" placeholder="Confirmer votre mot de passe" />
                <input type="submit" value="Inscription" id="inscriptionValid"/>
            </p>
        </form>

        <div id="aide"></div>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script><!-- pour que le client recupere socket io -->

        <script>
            var socket = io.connect('http://localhost:8080'); /*connection au serveur*/

            $('#pseudoInscription').focus();

            // Contrôle du courriel en fin de saisie méthode avec expression régulière
            $("#mailInscription").bind("blur", function (e) {
                // Correspond à une chaîne de la forme xxx@yyy.zzz
                var regexCourriel = /.+@.+\..+/;
                var validiteCourriel = "";
                if (!regexCourriel.test(e.target.value)) {
                    validiteCourriel = "Adresse invalide";
                }
                $("#aide").css({ color: "red"});
                $("#aide").text(validiteCourriel);
            });

            // Vérification de la longueur du mot de passe saisi pendant la saisie
            $("#passwordInscription").bind("input", function (e) {
                var mdp = e.target.value; // Valeur saisie dans le champ mdp
                var longueurMdp = "faible";
                var couleurMsg = "red"; // Longueur faible => couleur rouge
                if (mdp.length >= 8) {
                    longueurMdp = "suffisante";
                    couleurMsg = "green"; // Longueur suffisante => couleur verte
                } else if (mdp.length >= 4) {
                    longueurMdp = "moyenne";
                    couleurMsg = "orange"; // Longueur moyenne => couleur orange
                }
                var aideMdpElt = $("#aide");
                aideMdpElt.text("Longueur : " + longueurMdp); // Texte de l'aide
                aideMdpElt.css({ color: couleurMsg}); // Couleur du texte de l'aide
            });

            //verification des mots de passes
            $("#confirmPasswordInscription").bind("blur",function(e){
                if($('#passwordInscription').val() != $('#confirmPasswordInscription').val()){
                    $("#aide").css({ color: "red"});
                    $("#aide").text("Les mots de passes sont différents");
                }
            });

            /*envoie un message au server par clic du bouton*/
            $('#inscriptionValid').click(function () {
                $.post('/', { email: $('#mailInscription').val(), password: $('#passwordInscription').val(), password2: $('#confirmPasswordInscription').val(),pseudo: $('#pseudoInscription').val()}, function(data) {
                    if(data.message === 'email est déjà utilisé'){
                        $("#aide").css({ color: "red"});
                        $("#aide").text("l'email est déja utilisé");
                    }
                    else if(data.message === 'Utilisateur créé !'){/*si utilisateur bien créé renvoie à la page de connexion*/
                        document.location="http://localhost:8080/";
                    }
                }, 'json');/*fin de post*/
                return false; /*pour bloquer le formulaire*/              
            })/*fin de clic inscription*/

        </script>
    </body>
</html>